<p><input type="number" @bind="number1" class="form-control w-25" /></p>
<p><input type="number" @bind="number2" class="form-control w-25" /></p>

<button @onclick="CalculateSum" class="btn btn-primary">Sum</button>

<h4 class="mt-3">@calculationResult</h4>

@code {
    private string number1 = "";
    private string number2 = "";
    private string calculationResult = "0";

    private void CalculateSum()
    {
        int sum = int.Parse(number1) + int.Parse(number2);
        calculationResult = sum.ToString();
    }
}