@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script>
        function handleButtonClick() {
            console.log("Button has been clicked!");

            // read the user's input and calculate the sum
            const num1 = document.getElementById("num1").value;
            const num2 = document.getElementById("num2").value;

            const sum = parseInt(num1) + parseInt(num2);
            alert("The sum of the two numbers is: " + sum);
        }
    </script>
}

<div class="ml-3">
    <h1 class="display-4">My Simple Calculator</h1>

    <p>Please enter two numbers and click the Sum
        button to calculate the sum of the numbers.</p>

    <p><input type="number" id="num1" class="form-control w-25" /></p>
    <p><input type="number" id="num2" class="form-control w-25" /></p>
    <p></p>

    <button onclick="handleButtonClick()" class="btn btn-primary">Sum</button>
</div>
