DotNet/Variables/obj
DotNet/Variables/bin
DotNet/PalindromeDetect/bin
DotNet/PalindromeDetect/obj
DotNet/NumberGuessingGame/.vscode
DotNet/NumberGuessingGame/bin
DotNet/NumberGuessingGame/obj
DotNet/ObjectOrientedProgramming/.vscode
DotNet/ObjectOrientedProgramming/obj
DotNet/ObjectOrientedProgramming/bin
DotNet/FileSum/.vscode
DotNet/FileSum/bin
DotNet/FileSum/obj
DotNet/DateProcessing/.vscode
DotNet/DateProcessing/bin
DotNet/DateProcessing/obj
DotNet/ExceptionHandling/.vscode
DotNet/ExceptionHandling/bin
DotNet/ExceptionHandling/obj
DotNet/AspNetWebCalculator/.vscode
DotNet/AspNetWebCalculator/bin
DotNet/AspNetWebCalculator/obj
DotNet/BlazorHelloWorldApp/.vscode
DotNet/BlazorHelloWorldApp/bin
DotNet/BlazorHelloWorldApp/obj
