@page "/"

<PageTitle>My Index Page</PageTitle>

<h1>Hello, world from a Blazor application!</h1>

This is my first Blazor application.

<p>&nbsp;</p>
<Calculator />
<p>&nbsp;</p>

<hr />

<MyFirstComponent />

<hr />

<MyFirstComponent />

<hr />

<SurveyPrompt Title="How is Blazor working for you?" />
